## Important note:
## All paths defined in this configuration file must be absolute

### System Set ###
ppn=15
memory=90

### Specific Project set ###
sample=Adult-RNA-7
species=mouse
outdir=/date/guomaoni/CZP/spatial_transcriptomics/Adult-RNA-7

fq1=/date/guomaoni/CZP/spatial_transcriptomics/Adult-RNA-7/data/Adult-RNA-7_R1.fq.gz
fq2=/date/guomaoni/CZP/spatial_transcriptomics/Adult-RNA-7/data/Adult-RNA-7_R2.fq.gz

npixel=96
barcodes_A=/date/guomaoni/CZP/spatial_transcriptomics/Adult-RNA-7/barcodesA.txt
barcodes_B=/date/guomaoni/CZP/spatial_transcriptomics/Adult-RNA-7/barcodesB.txt

### Read1 set ###
# Attention: you have to check the cut (),() parameter of the barcode linker coordinates!
ME=CTGTCTCTTATACACATCT

### Read2 set ###
# Attention: debarcode_discard1 is between barcode2 and  barcode1, but the 1st bp is discarded to debarcode!
# Attention: debarcode_discard2 is after barcode1
barcode2_linker=GTGGCCGATGTTTCG
barcode1_linker=CCCATGATCGTCCGA
debarcode_discard1=TGGCCGATGTTTCGCGCGCTGCATACTTG 
debarcode_discard2=CCCATGATCGTCCGAGTGCGAACTCAGACC
debarcode_discard3=AGATGTGTATAAGAGACAG

### Choose run step of main pipeline ###
#Choose steps you want to run.
run_fastqc_every_step=run

run_check_linker=run
run_cutadapt=run
run_debarcode=run
run_debarcoded_stat_visualize=run
run_zumi=run
run_final_stat=run

yaml_default=run_0.3

### Choose run step of zUMIs pipeline ###
#Start zUMIs from stage. Possible TEXT(Filtering, Mapping, Counting, Summarising). Default: Filtering.
run_zumi_from=Filtering

############################ Do not set below parameters by yourself ########################################
### System Set ###
script_path=/date/scripts/GZLAB_ST_PIPELINE
welcome=/date/scripts/GZLAB_ST_PIPELINE/welcome.txt

### Software ###
fastqc=/share/home/share/software/FastQC/bin/fastqc
java_jre=/share/home/share/software/java/jre1.8.0_261/bin/java
cutadapt=/share/home/share/software/Python-3.9.2/bin/cutadapt
umi_tools=/share/home/zhanglin/softwares/miniconda3/bin/umi_tools
python_exec=/share/home/zhanglin/softwares/miniconda3/bin/python
r_exec=/share/home/zhanglin/softwares/miniconda3/bin/Rscript

### zUMI ###
zUMIs=/date/softwares/zUMIs2.9.7/zUMIs.sh
zUMIs_yaml_default=/date/softwares/zUMIs2.9.7/zUMIs_ST_RNA_temp.yaml
zUMIs_yaml_default1=/date/softwares/zUMIs2.9.7/zUMIs_ST_RNA_temp1.yaml
zUMIs_yaml=NULL

### Reference ###
genome_human=/date/lvjunjie/Reference/human/GRCh38_hg38/ensembl/Homo_sapiens.GRCh38.dna.primary_assembly.fa
gtf_human=/date/lvjunjie/Reference/human/GRCh38_hg38/ensembl/Homo_sapiens.GRCh38.100.chr.gtf
gtf_exon_human=/date/lvjunjie/Reference/human/GRCh38_hg38/ensembl/Homo_sapiens.GRCh38.100.chr.exon.gtf
HISAT2index_human=/date/lvjunjie/Reference/human/GRCh38_hg38/ensembl/hisat2_index/GRCh38
STARindex_human=/date/lvjunjie/Reference/human/GRCh38_hg38/ensembl/STAR_index
STARindex_rdna_human=/date/lvjunjie/Reference/human/riboDNA/STAR_index

genome_mouse=/date/lvjunjie/Reference/mouse/GRCm38_mm10/ensembl/Mus_musculus.GRCm38.dna.primary_assembly.fa
gtf_mouse=/date/lvjunjie/Reference/mouse/GRCm38_mm10/ensembl/Mus_musculus.GRCm38.102.chr.gtf
gtf_exon_mouse=/date/lvjunjie/Reference/mouse/GRCm38_mm10/ensembl/Mus_musculus.GRCm38.102.chr.exon.gtf
HISAT2index_mouse=/date/lvjunjie/Reference/mouse/GRCm38_mm10/ensembl/hisat2_index/GRCm38
STARindex_mouse=/date/lvjunjie/Reference/mouse/GRCm38_mm10/ensembl/STAR_index
STARindex_rdna_mouse=/date/lvjunjie/Reference/mouse/riboDNA/STAR_index



